/* Spinner component */

/*
:root {
  --colSpinnerRgb: 0, 0, 0
}
*/

/* .g-Spinner :first-child */
.g-Spinner {
  padding: 10px;
  height: 125px;
  text-align: center;
}


.g-Spinner > .circle {
  /* box-sizing: border-box; */
  width: 48px;
  height: 48px;
  clear: both;
  margin: 20px auto;

  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px rgba(0, 0, 0, 1) solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .81s infinite linear;
  animation: spCircRot .81s infinite linear;
}

.g-Spinner > .tagline {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@-webkit-keyframes spCircRot {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

@keyframes spCircRot {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
